<!DOCTYPE html>
<html>
<head>
    <title>BillX</title>   
    <link rel="stylesheet" href="/style.css">
</head>

<body>
   <div class="loginbox">
        <h1>Home Unauthorized</h1>
       <br  />
       <br  />
            <p id="home-unauth" ><a href="login">login</a></p>
            <p id="home-unauth"><a href="register">register</a></p>
    </div>
</body>
</html>


 